{% extends "default_base.html" %}

{% block title %}
	Logged out
{% endblock %}

{% block content %}
	<div class="about">
		Your About Us page should be:

    Informative. It doesn’t always have to tell your whole story, but it should at least provide people with an idea of .
    Contain social proof, testimonials, and some personal information that visitors can relate to, such as education, family, etc.
    Useful.
    Engaging.
    Easy to navigate.
    Accessible on any device.

	Does that all sound complicated?

	It really isn’t.

	The main purpose of your About Us page is to give your visitors a glimpse into who you are as a person or a business (or sometimes both).

	As users discover your brand, they need to distinguish what sets you apart and makes you… you.

	This often requires finding the right balance between compelling content and a design carefully planned to look the part.

	Conveying your identity in a fun and approachable – but also reliable and informative – way is challenging.

	If you know who you are and your goal for your site, the About Us page should come naturally.

	However, if you’re looking for some inspiration, you can always check out the following 25 awesome examples of About Us pages.	
</div>
{% endblock %}