{% extends "base.html" %}

{% load static %}

{% load crispy_forms_tags %}

{% block title %}
Change your password
{% endblock %}

{% block content %}
	<div class="row" style="background-color: #e6e6e6;">
		<div class="col-md-2">
			{% if user.profile.profile_photo %}
				<div class="user-image">
					<img src="{{ user.profile.profile_photo.url }}" height="150px" width="150px" alt="user photo" style="border-radius: 100%;">
				</div><br>
				<div class="username">
					<span class="dot"></span>			
					{{ user.username }}
				</div><br>
			{% else %}
				<div class="user-image">
					<img src="{% static 'images/user.jpeg' %}" height="150px" width="150px" alt="default" style="border-radius: 100%;">
				</div>
				<div class="username">
					<span class="dot"></span>			
					{{ user.username }}
				</div><br>
			{% endif %}
			<div>
				<i class="fas fa-user-alt"></i>
				<a href="{% url 'accounts:profile_edit' %}" style="color: #000;">profile</a>
			</div>			
		</div>
		<div class="col-md-8">
			<div class="form-data">				
				<div class="form-title">
					<div>
					<i class="fas fa-user-edit"></i>
					</div>
					<h4>Change your password</h4>
					<p>Use the form below to change your password.</p>
				</div>
				<form method="post" class="email-submit">
					{{ form|crispy }}
					<button class="btn btn-outline-info" type="submit">update</button>
					{% csrf_token %}
				</form>
			</div>
		</div>
		<div class="col-md-2">
			
		</div>
	</div>
{% endblock %}